name: Push
on:
  push:
    branches:
      - main

jobs:
  apply-changes:
    name: Apply changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn

      - run: yarn install

      - uses: pulumi/actions@v4
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        with:
          command: up
          refresh: true
          stack-name: prod
