name: Weekly Cron Jobs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * MON' # Weekly on monday at 12

jobs:
  drift-check:
    name: Drift check and ensure tokens are rotated
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node LTS
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: yarn

      - run: yarn install

      - uses: pulumi/actions@v4
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        with:
          command: preview
          refresh: true
          stack-name: prod
          expect-no-changes: true

      - uses: slackapi/slack-github-action@v1.24.0
        if: failure()
        with:
          payload: |
            {
              "repository": "simenandre/secrets",
              "status": "failure"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      